.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EEEEEF;
  }
  
  .chart-box {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 50%;
  }

  .chart-box-big {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 87%;
    height: 700px;
    margin-bottom: 50px;
  }
  
  .css-1pedu2u-MuiResponsiveChart-container {
    width: 100% !important;
    height: 100% !important;
  }
  